<h3>Legislator Lookup</h3>

<form class="form-group">
  <div>
    <label for="zipcode">Zipcode</label>
    {{input value=zipcode id="zipcode" class="form-control"}}
  </div>
  <button {{action "zipcodeLookup"}} class="btn btn-primary">Submit</button>
</form>
